<!DOCTYPE html>
<html>
<head>
    <title>Enter Marks</title>
</head>
<body>

<h2>Welcome {{ name }}</h2>
<h3>Enter Marks</h3>

<form method="POST">
    <input type="number" name="tamil" placeholder="Tamil" required><br><br>
    <input type="number" name="english" placeholder="English" required><br><br>
    <input type="number" name="math" placeholder="Math" required><br><br>
    <input type="number" name="science" placeholder="Science" required><br><br>
    <input type="number" name="social" placeholder="Social Science" required><br><br>
    <button type="submit">Calculate</button>
</form>

</body>
</html>
